.cart{
  // border: solid 1px black;
  text-align: center;
  padding: 2%;
  margin:2% 0;
  // TODO fixed right in page
  padding: 1rem;
  background-color: #ff7f50;
  border-radius: 10px;
 
  // right: 0;
  top: 31%;
  // width: 20em;
  // margin-top: -2.5em;
  // overflow-y: auto;
  button{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }

  h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2%;
    margin-bottom: 4%;
    padding-bottom: 2%;
    border-bottom: 1px solid #aaa
  }

  .listDelevery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: solid 1px black;
    margin: 2%;
    margin-bottom: 4%;
    padding: 2%;
    background-color: #fff;
    border-radius: 20px;

    select{
      // width: 50vw;
      // margin: auto;
      display: flex;
      margin-top: 2%;
      // padding: 1rem;
      background-color: white;
      border-radius: 10px;
      justify-content: center;
      

      option{
        text-align: center;
        
      }


    }

    .item-group{
      margin: 2%;

    }
    .delevery-point {
  
    }

    .delevery-time {

    }  

  }

}

@media (min-width: 576px) {
  .cart {
    position: relative;
  }
}
