.cart{
  border: solid 1px black;
  text-align: center;
  padding: 2%;
  // TODO fixed right in page
 
  // right: 0;
  top: 25%;
  // width: 20em;
  // margin-top: -2.5em;
  // overflow-y: auto;

  h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2%;
  }

  .listDelevery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px black;
    margin: 2%;
    padding: 2%;

    select{
      // width: 50vw;
      // margin: auto;
      display: flex;
      margin-top: 2%;
      

      option{
        text-align: center;
        
      }

    }

    .item-group{
      margin: 2%;

    }
    .delevery-point {
  
    }

    .delevery-time {

    }  

  }

}

@media (min-width: 576px) {
  .cart {
    position: absolute;
  }
}
