@use 'src/styles/vars';

.order-detail {
  margin: vars.$gutter auto;

  .title {
    font-size: 3em;
    text-align: center;
    margin-bottom: vars.$gutter;
    text-transform: uppercase;
    color: vars.$dark-color;
    margin-top: 1%;
    font-family: vars.$title-font;
  }

  .order-name {
    text-align: center;
    margin-top: 1%;
    color: vars.$dark-color;
    margin-bottom: vars.$gutter;
  }

  .order-state {
    justify-content: space-around;
    margin : 5%;
    

    .content {
      justify-content: space-between;
      padding: 2%;
      margin-top: 0.5%;
      border: 1px solid black;
      background-color: white;
      border-radius: 10px;
    
      .status {

      }
      .delivery-time {

      }
      .amount {

      }
    }
  }

  .description-container {
    display: flex;
    border-radius:30px;
    padding: 1%;

    .products-description {
      align-items: center;
      margin: auto;
      max-width: 900px;
      width : 100%;


      .product-details {
        display : flex;
        background-color: #ff7f50;
        box-shadow:
        2px 2px 3px rgba(255, 255, 255, 0.6),
        -2px -2px 3px rgba(0, 0, 0, 0.6);
        border-radius: 30px;
        min-height: 135px;
        margin-bottom: 10px;
        padding: 0 5px;
        position: relative;
        justify-content: space-between;
        align-items: center;
        // max-width: 900px;
        
        

        .product-picture {
          position: relative;
          align-items: center;

          img{
            width: 100px;
            height: 100px;
            background-color: #ffdb5c;
            box-shadow:
              2px 2px 3px rgba(255, 255, 255, 0.6),
              -2px -2px 3px rgba(0, 0, 0, 0.6);
            border-radius: 50%;
          }

          .product-price {
            position: absolute;
            display: flex;
            align-items: center;
            border-radius: 80%;
            height: 40px;
            width: 42px;
            font-size: 1em;
            top: 50px;
            left: 75px;
            z-index: 1;
            background-color: white;
            text-align: center;
    
              p {
                text-align: center;
              }
            }
        }

        .product-name {
          background-color: white;
          border-radius: 30px;
          font-size: 15px;
          // margin: auto 20%;
          font-weight: 900;
          padding: 2%;
          box-shadow:  2px 2px 3px rgba(255, 255, 255, .6),
          -2px -2px 3px rgba(0, 0, 0, .6);
          width: 45%;
          max-width: 200px;
          height : 20%
        }

        .product-quantity {
          width: 10%;
          max-width: 30px;;
          background-color: white;
          border-radius: 30px;
          box-shadow:  2px 2px 3px rgba(255, 255, 255, .6),
          -2px -2px 3px rgba(0, 0, 0, .6);
          text-align: center;
          margin-right: 2px;

          p {
              margin-right : 10px;
              border-radius: 30px;
              background-color: white;
              height: 45px;
              width: 45px;
          }
        }

      }
    }
  }

}
