
input {
      
      border: 1px solid black;
      width:2em;
      
      bottom: 12px;
    }

@media screen and (max-width: 640px) {


  
}
  .product-listElements {
  border: 2px solid black;
  border-radius: 20px;
  height: 60px;

  
  margin: 20% 0;
  position: relative;
 
  background-color: coral;

  .price {
    
    border: 2px solid black;
    border-radius: 55%;
    height: 30px;
    width: 30px;
    font-size:1.5em;
    padding-top:auto;
    
    top:20px;
    right:20px;

    z-index:1;
    background-color:white;
    p{
      text-align:center;
    }
  }
  }
 /* 
 .quantity {

    input{
      width:40px;
      text-align:center;
    }
    
  }





  .button-plus {
    position: absolute;
    top: 3px;
    right:5px;
  }
  .button-minus{
    position:absolute;
    top: 3px;
    right:20%;
  }
  .product-name {

    border: 1px solid black;
    width: 30%;
    height: 50%;
    margin-left: 30%;
    margin-top: 3.25%;
    background-color: white;
    border-radius: 10px;
    padding-top: 0.5%;
    font-weight: 900;

  }
 }


  .price {
    
    border: 2px solid black;
    border-radius: 55%;
    height: 50px;
    width: 50px;
    font-size:1.5em;
    padding-top:10px;
    position: absolute;
    left:80px;
    z-index:1;
    background-color:white;

  }



*/
.rounded-picture {
  
  border: 2px solid black;
  border-radius: 55%;
  height:70px;
  width: 50px;
  
  padding-top: 10px;
  
  background-color: yellow;
  left:10px;

  img{
    height:50px;
    width:30px;
    margin: 0 auto;
  }
}

 
