@use 'src/styles/vars';

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .productsList {
    padding: 100px 30px;
    width: 100%;

    .productsList-product {
      background-color: #ff7f50;
      box-shadow:
        2px 2px 3px rgba(255, 255, 255, 0.6),
        -2px -2px 3px rgba(0, 0, 0, 0.6);
      border-radius: 30px;
      min-height: 135px;
      margin-bottom: 100px;
      padding: 1rem 15px 0;
      position: relative;

      .productsList-product-picture {
        img {
          position: absolute;
          left: 30px;
          top: -30px;
          transform: translateY(-50%);
          z-index: 1;
          width: 100px;
          height: 100px;
          background-color: #ffdb5c;
          box-shadow:
            2px 2px 3px rgba(255, 255, 255, 0.6),
            -2px -2px 3px rgba(0, 0, 0, 0.6);
          border-radius: 50%;
        }
      }

      .productsList-product-price {
        position: absolute;
        left: 100px;
        top: -40px;
        z-index: 2;
        background-color: #fff;
        border: 3px solid red;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
      }

      .productsList-product-name {
        padding: 0.75rem;
        margin-bottom: 1rem;
        background-color: #fff;
        box-shadow:
          2px 2px 3px rgba(255, 255, 255, 0.6),
          -2px -2px 3px rgba(0, 0, 0, 0.6);
        border-radius: 30px;
        width: 100%;
      }
    }
  }

  .productsList-cart {
    position: sticky;
    top: 200px;
    width: 100%;
    // min-height: 00px;
    max-height: 500px;
    padding: 1rem;
    background-color: #ff7f50;
    border-radius: 10px;

    .productsList-cart-recap {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 1px solid #aaa;

      .productsList-cart-number {
        .badge {
          background-color: #fff;
          color: #000;
          padding: 0 0.25rem;
        }
      }
    }

    .productsList-cart-details {
      margin: 1rem 0;
      overflow-y: auto;

      .productsList-cart-item {
        padding: 1rem 0;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 1rem 0;

        .item-picture {
          img {
            max-width: 50px;
          }
        }

        .item-details {
          width: 100%;
          padding: 0 0.5rem;
        }

        .item-price {
          color: #6394f8;
        }

        .item-quantity {
          float: right;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  main {
    .productsList {
      padding: 100px 30px 10px;
      width: 100%;

      .productsList-product {
        padding: 1rem 50px 0 175px;
        margin-bottom: 100px;

        .productsList-product-picture {
          img {
            top: 30px;
          }
        }

        .productsList-product-price {
          left: 75px;
          top: 40px;
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    flex-wrap: nowrap;

    .productsList {
      padding: 100px 30px 0;
      width: 100%;

      .productsList-product {
        padding: 1rem 50px 0 275px;
        margin-bottom: 160px;

        .productsList-product-picture {
          img {
            width: 200px;
            height: 200px;
          }
        }

        .productsList-product-price {
          left: 150px;
          top: 30px;
          width: 120px;
          height: 120px;
          font-size: 2rem;
        }
      }
    }

    .productsList-cart {
      width: unset;
      min-width: 300px;

      .productsList-cart-details {
        height: 75%;
      }
    }
  }
}

@media (min-width: 1200px) {
  main {
    .productsList {
      padding: 100px 30px;
      width: 100%;

      .productsList-product {
        padding-left: 275px;
        padding-right: 50px;
        padding-top: 0;
        min-height: 60px;
        display: flex;
        align-items: center;

        .productsList-product-name {
          width: 60%;
          margin-bottom: 0;
        }
      }
    }
  }
}

// .product-listElements {
//   border: 0px solid black;
//   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
//     inset -2px -2px 3px rgba(0, 0, 0, .6);

//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 2%;
//   margin-top: 5%;
//   border-radius: 30px;

//   // height: 60px;


//   // margin: 20% 0;
//   // position: relative;

//   background-color: coral;

//   .products-items {
//     position: relative;
//     max-width: 17%;

//     // border: solid 1px #f0f;
//     img {
//       height: 50px;
//       width: 40px;
//       margin: 0 auto;
//       border: 0;
//       border-radius: 55%;
//       background-color: vars.$yellow-color;
//       box-shadow: 2px 2px 3px rgba(255, 255, 255, .6),
//         -2px -2px 3px rgba(0, 0, 0, .6);
//     }

//     .price {
//       position: absolute;
//       display: flex;
//       border: 2px solid black;
//       border-radius: 55%;
//       height: 30px;
//       width: 30px;
//       font-size: 1em;
//       align-items: center;

//       top: -10px;
//       right: -10px;

//       z-index: 1;
//       background-color: white;

//       p {
//         text-align: center;

//       }

//     }

//   }

//   .product-name {
//     border: 0px solid black;
//     background-color: white;
//     border-radius: 10px;
//     font-size: 15px;
//     margin: 5px 5px;
//     font-weight: 900;
//     padding: 2%;
//     width: 40%;
//     box-shadow: inset 2px 2px 3px rgba(128, 127, 127, 0.6),
//       inset -2px -2px 3px rgba(0, 0, 0, .6);
//     // padding-right: 64px;
//   }

//   .product-quantity {

//     display: flex;
//     align-items: center;
//     z-index: 1;

//     .quantity {
//       z-index: 0;
//     }

//     .button-home {
//       text-align: center;
//     }
//   }

//   .styled {
//     border: 0;
//     height: auto;

//     line-height: 2.5;

//     font-size: 1rem;
//     text-align: center;
//     color: #fff;
//     text-shadow: 1px 1px 1px #000;
//     border-radius: 55%;
//     font-size: 1em;
//     background-color: rgba(216, 220, 0, 0.59);
//     background-image: linear-gradient(to top left,
//         rgba(0, 0, 0, .2),
//         rgba(0, 0, 0, .2) 30%,
//         rgba(0, 0, 0, 0));
//     box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
//       inset -2px -2px 3px rgba(0, 0, 0, .6);

//   }
// }





// input {

//   border: 1px solid black;
//   width: 2em;

//   bottom: 12px;
//   z-index: 0;
// }




// .products {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   overflow: auto;


// }

// @media (max-width: 576px) {

//   .price {
//     position: absolute;
//     display: flex;
//     border: 2px solid black;
//     border-radius: 55%;
//     height: 30px;
//     width: 30px;
//     font-size: 1em;
//     align-items: center;

//     top: -10px;
//     right: 13px;

//     z-index: 1;
//     background-color: white;

//     p {
//       text-align: center;

//     }

//   }
// }