.product-listElements {
  border: 2px solid black;
  border-radius: 20px;
  height: 50px;
  max-width: 90%;
  margin: 2% auto;
  position: relative;
  background-color: coral;

  .button-plus {
    position: absolute;
  }

  .product-name {

    border: 1px solid black;
    width: 32%;
    height: 50%;
    margin-left: 30%;
    margin-top: 3.25%;
    background-color: white;
    border-radius: 10px;
    padding-top: 0.5%;
    font-weight: 900;

  }

  .quantity {


    input {
      width: 12%;
      border: 1px solid black;
      position: absolute;
      right: 60px;
      bottom: 12px;
    }
  }

  .price {
    
    border: 2px solid black;
    border-radius: 55%;
    height: 50px;
    width: 50px;
    font-size:1.5em;
    padding-top:10px;
    position: absolute;
    left:80px;
    z-index:1;
    background-color:white;

  }


}

.rounded-picture {
  position: absolute;
  border: 2px solid black;
  border-radius: 55%;
  height: 100px;
  width: 100px;
  padding-top: 10px;
  background-color: yellow;
  top: -30px;
  left: 20px;
}
