@use 'src/styles/vars';

.orders {
  max-width: 800px;
  margin: vars.$gutter auto;

  .title {
    font-family: vars.$title-font;
    font-weight: vars.$title-font-weight;
    color: vars.$primary-color;
    font-size: 2em;
    margin-bottom: vars.$gutter;
    text-align: center;
    text-transform: uppercase;
  }

  .orders-container {

    .order {
      width: 50%;
      padding: vars.$gutter;

      .order-title {
        font-family: vars.$title-font;
        font-weight: vars.$title-font-weight;
        text-transform: uppercase;

        margin: vars.$gutter / 2 0;
      }

      .order-date {
        padding: 0.2em;
        margin: 0.1em 0;
        display: inline;
        text-transform: uppercase;
      }

      .order-details {
        color: vars.$order-text-color;
        margin-top: vars.$gutter / 2;
      }

      .order-total {
        display: flex;
        color: vars.$order-text-color;
        margin-top: vars.$gutter / 2;
        justify-content: flex-end;
      }

      &:hover {
        background-color: vars.$order-hover-color;
      }
    }
  }
}
