@use 'src/styles/vars';

.orders {
  // margin: vars.$gutter auto;
  display:block;
  max-width: 900px;
  margin: auto;

  .title {
    margin-top: 1%;
    font-family: vars.$title-font;
    font-weight: vars.$title-font-weight;
    color: vars.$dark-color;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 2%;;
    text-align: center;
    text-transform: uppercase;
  }

  .orders-container {
    display: flex;
    flex-direction: column-reverse;
    
    .order-detail {
      border-radius:30px;
      background-color: coral;
      margin:2%;
      padding: 2%;
      box-shadow:  2px 2px 3px rgba(255, 255, 255, .6),
           -2px -2px 3px rgba(0, 0, 0, .6);
          
      .order-name {
        border-radius: 10px;
        font-size:15px;
        margin-bottom: 2%;
        font-weight:900;
        padding: 2%;
        // padding-right: 64px;
        font-family: vars.$title-font;
        font-weight: vars.$title-font-weight;
        text-transform: uppercase;
        width: 45%;
        background-color: white;
        box-shadow: 2px 2px 3px hsla(0,0%,100%,.6), -2px -2px 3px rgba(0,0,0,.6);
      }

      .order {
        display: flex;
        flex-direction: row;

        .order-description {
          display: grid;
          width : 80%;
          background-color: white;
          border-radius: 12px;
          padding: 2% 5% 2% 1%;
          box-shadow: 2px 2px 3px hsla(0,0%,100%,.6), -2px -2px 3px rgba(0,0,0,.6);

          p {
            font-size: 1.1em;
          }
        }

        .order-state {
          padding: 1%;
          border-radius: 10px;
            
          .order-date {
            padding: 0.2em;
            margin: 0.1em 0;
            // text-transform: uppercase;
          }
    
          .order-status {
          
          }
    
          .order-amount{
            // color: vars.$order-text-color;
            // margin-top: vars.$gutter / 2;
          }
    
      }

      }
      
    
  
  }
}
}
