@use 'src/styles/vars';

.orders {
  // margin: vars.$gutter auto;

  .title {
    margin-top: 1%;
    font-family: vars.$title-font;
    font-weight: vars.$title-font-weight;
    color: vars.$dark-color;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: vars.$gutter;
    text-align: center;
    text-transform: uppercase;
  }

  .orders-container {
    display: flex;
    flex-direction: column-reverse;
    
    .order-detail {
      border: 2px solid black;
      border-radius:30px;
      background-color: coral;
      margin:2%;
      padding: 2%;
          
      .order-name {
        border: 1px solid black;
        border-radius: 10px;
        font-size:15px;
        margin-bottom: 2%;
        font-weight:900;
        padding: 2%;
        // padding-right: 64px;
        font-family: vars.$title-font;
        font-weight: vars.$title-font-weight;
        text-transform: uppercase;
        width: 45%;
      }

      .order {
        display: flex;
        flex-direction: row;
        height: 40%;

        .order-description {
          width : 75%;
          border: 1px solid black;
          background-color: white;
          border-radius: 10px;
          padding: 0.5% 0%;
        }

        .order-state {
          width: 25%;
          padding: 1.5%;
          border-radius: 10px;
            
          .order-date {
            padding: 0.2em;
            margin: 0.1em 0;
            // text-transform: uppercase;
          }
    
          .order-status {
          
          }
    
          .order-amount{
            // color: vars.$order-text-color;
            // margin-top: vars.$gutter / 2;
          }
    
          &:hover {
            background-color: vars.$order-hover-color;
          }
      }

      }
      
    
  
  }
}
}
