.cgv-content{
  border:1px solid black;
  margin:1em;
  border-radius:1em;
  padding: 1em;
  .cgv-title{
    h2{
      text-align:center;
      font-size:2rem;
      margin: 1em 0;
    }
  }
  .cgv-text{
  margin:1em;
  border:1px solid black;
  margin:1em;
  border-radius:1em;
  text-align: justify;
  padding:1em;

}
}
