// Generic
$primary-color: #ccb328;
$alt-color: #ddd;
$dark-color: #101010;
$light-color: #fff;
$gutter: 1rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #000;

// Cart

// Product

// Category

// Order
$order-text-color: #000;
$order-hover-color: #f7f7f7;
//==================================OnTheSpot==============================================

$title-font: 'Lobster', cursive;
$global-font: 'Oswald', sans-serif;

$header-background:#3f93d8a8;

$titleHeader-background:#FA6E59;

$card-background:#F8A055;


$yellow-color: #FFDB5C;

$mainColor: #f18042;
$titleColor: #ccc;

$navWidth: 225px;

