// Generic
$primary-color: #ccb328;
$alt-color: #ddd;
$dark-color: #101010;
$light-color: #fff;
$gutter: 1rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #000;


// Product

// Category

// Order
$order-text-color: #666;
$order-hover-color: #f7f7f7;
