.top-bar {
  display: flex;
  flex-direction: row;
  font-size: small;
  font-style: italic;
  justify-content: center;
  margin-top: 2%;
  font-weight: 900;

  a {
    margin-left: 5px;
  }

  p {
    margin-left: 5px;
    color: #f54040c7;;
    text-decoration: underline;
  }

}
