.top-bar{
  display:flex;
  flex-direction: row;
font-size:small;
font-style: italic;
margin:1% 0;
font-weight: 900;
a{
  margin-left: 5px;
}
p{
  margin-left: 5px;
  color:blue;
  text-decoration: underline;
}

}
