
@media (min-width: 1200px) {
  .button {
    float: none;
    margin-left: auto;
  }
}

.button {
  position: relative;
  float: right;
  width: 9rem;
  height: 3rem;
  overflow: hidden;
  box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  border-radius: 10px;
  background-color: #654236;
  color: #fff;
  z-index: 0;

  .add {
    padding: 1rem 0;
    text-align: center;
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    width: 9rem;
    margin: 0 auto;
  }

  .plus,
  .minus,
  .qtt {
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
  }

  .plus,
  .minus {
    padding: 0.6rem 0 0.9rem;
    position: absolute;
    width: 3rem;
    z-index: 1;
    background-color: #d6d4a0;
    color: #000;
  }

  .plus:hover,
  .minus:hover {
    background-color: #654236;
    color: #fff;
  }

  .plus {
    right: -3.5rem;
  }

  .minus {
    left: -3.5rem;
  }

  .qtt {
    position: absolute;
    width: 9rem;
    top: -3.5rem;
    cursor: default;
    z-index: 0;
    background-color: #fff;

    .qtt-input {
      width: 33%;
      height: 3rem;
      margin: 0 auto;
      border: 0;
      text-align: center;
      font-size: 1.5rem;
      user-select: all;
    }
  }
}

.button.button--added {
  .add {
    width: 0;
  }

  .minus {
    left: 0;
  }

  .plus {
    right: 0;
  }

  .qtt {
    top: 0;
  }
}

// .product-detail{

//   border: 2px solid black;
//   border-radius:30px;
//   background-color: coral;
//   .product-header{
//     margin-top:5%;
//   }
//   .product-name {
//     border: 1px solid black;
//     background-color: white;
//     border-radius: 10px;
//     font-size:15px;
//     margin:5px auto;
    
//     font-weight:900;
//     padding: 2%;
    
//     // padding-right: 64px;
  
//   }
//   .product-description{
//     border: 1px solid black;
//     background-color: white;
//     border-radius: 10px;
//   }
//    .product-image{
//       position: relative;
//       // border: solid 1px #f0f;
//       img{
//         height:100%;
//         width:100%;
//         margin: 0 auto;
//       }
//       .price {
//         position: absolute;
//         display: flex;
//         border: 2px solid black;
//         border-radius: 55%;
//         height: 30px;
//         width: 30px;
//         font-size:1em;
//         align-items:center;
        
//         top:-10px;
//         right:-10px;
    
//         z-index:1;
//         background-color:white;
//         p{
//           text-align:center;
//         }
        
//       }
//     }
// }
// input {
      
//   border: 1px solid black;
//   width:2em;
  
//   bottom: 12px;
// }

// /* .product-element {

//   border: 2px solid black;
//   border-radius: 20px;
//   height: 300px;
//   max-width: 90%;
//   margin: 2% auto;
//   position: relative;
//   background-color: coral;
//  } */
// /*
//   .button-plus {
//     position: absolute;
//     right:125px;
//     bottom: 37px;
    
//   }

//   .button-minus{
//     position:absolute;
//     left:125px;
//     bottom: 37px;
//   }
//   .product-name {

//     border: 1px solid black;
//     width: 32%;
//     height: 10%;
//     margin-left: 33%;
//     margin-top: 3.25%;
//     background-color: white;
//     border-radius: 10px;
//     padding-top: 0.5%;
//     font-weight: 900;

//   }

//   .quantity {


//     input {
//       width: 20%;
//       border: 1px solid black;
//       position: absolute;
//       right: 178px;
//       bottom: 45px;
//     }
//   }
//   .description-product{

//     width:50%;
//     height:50%;   
//     border-radius:25px;
//     border: 2px solid black;
//     background-color:white;
//     margin:20px auto; 
//     padding:5px;
//   }

//   .price {
    
//     border: 2px solid black;
//     border-radius: 55%;
//     height: 50px;
//     width: 50px;
//     font-size:1.5em;
//     padding-top:10px;
//     position: absolute;
//     left: 30px;
//     z-index:1;
//     background-color:white;

//   }

//   .button-validate{
//     position:absolute;
//     bottom: 15px;
//     left: 195px;
    

//   }

// } */

// /* .rounded-picture {
//   position: absolute;
//   border: 2px solid black;
//   border-radius: 55%;
//   height: 100px;
//   width: 100px;
//   padding-top: 10px;
//   background-color: yellow;
//   top: -30px;
//   left: -25px;
// } */
