@use 'src/styles/vars';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.account-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 2rem auto 100px;
  padding: 45px;
  /*  text-align: center; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  .account-info {
    width: 100%;
    padding: 0;
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .detail {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    margin: 7.5px 0;
    padding: 5px 15px;
    background-color: #f2f2f2;
  }

  .button-edit-sup {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;

    button {
      color: #fff;
      font-size: 0.7em;
      padding: 0.5rem 15px;
    }

    .account-delete {
      margin-right: 5px;
      min-width: 130px;
    }

    .account-edit {
      margin-left: 5px;
      min-width: 130px;
    }
  }




  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;

    border: 0;
    padding: 15px 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  button:hover,
  button:active,
  button:focus {
    background: #43A047;
  }


}