@use 'src/styles/vars';

main {

  .about {

    .about-intro {
      margin: 5% 0;
      
      h1 {
        font-size: 2em;
        margin-bottom: 1em;
      }
    
      p {
        font-size: 1.2em;
        margin: 4% 6%;
        line-height: 1.3em;
      }
    
      display: block;
      text-align: center;
      font-family: vars.$title-font;
      
    }

    .about-team {
      border-top: 4px solid rgba(255, 127, 80, 0.412);
      margin-top: 5%;
      
      h1 {
        font-size: 2em;
        margin-bottom: 1em;
        font-family: vars.$title-font;
        text-align: center;
      }
    }
  }
}
