@use 'src/styles/vars';

main {
  // position: relative;
  // display: flex;
  // flex-wrap: wrap;

  .product {
    width: 90%;
    margin: 10% 5% 5%;
    padding: 0 2em;

    .product-detail {
      border: 0px solid black;
      border-radius: 30px;
      background-color: coral;
      box-shadow: 2px 2px 3px rgba(255, 255, 255, .6),
        -2px -2px 3px rgba(0, 0, 0, .6);
      margin-bottom: 10%;
      padding: 1em 1em 0;
      position: relative;

      .product-header {
        margin-bottom: 12%;
        height: 2em;
      }

      .product-name {
        border: 0px solid black;
        background-color: white;
        border-radius: 30px;
        font-size: 1.1em;
        font-weight: 900;
        padding: 2%;
        box-shadow: 2px 2px 3px rgba(255, 255, 255, .6),
          -2px -2px 3px rgba(0, 0, 0, .6);

        // padding-right: 64px;

      }

      .product-description {
        border: 0px solid black;
        background-color: white;
        border-radius: 30px;
        box-shadow: 2px 2px 3px rgba(255, 255, 255, .6),
          -2px -2px 3px rgba(0, 0, 0, .6);
      }

      .product-image {
        position: relative;
        right: 2em;
        top: -1em;
        width: 6em;


        // border: solid 1px #f0f;
        img {
          height: 100%;
          width: 100%;
          margin: 0 auto;
          border: 0;
          border-radius: 55%;
          background-color: vars.$yellow-color;
          box-shadow: 2px 2px 3px rgba(255, 255, 255, .6),
            -2px -2px 3px rgba(0, 0, 0, .6);

        }

        .price {
          position: absolute;
          display: flex;
          border: none;
          border-radius: 55%;
          height: 2.5em;
          width: 2.5em;
          font-size: 1em;
          align-items: center;
          background-color: vars.$yellow-color;
          top: 52px;
          right: -18px;
          z-index: 1;
          background-color: white;

          p {
            text-align: center;
            margin: auto;
          }

        }
      }

    }
  }
}



// input {

//   border: 0px solid black;
//   width: 2em;
//   bottom: 12px;
//   /* border-radius:30px;
//     box-shadow:  2px 2px 3px rgba(255, 255, 255, .6),
//        -2px -2px 3px rgba(0, 0, 0, .6); */
// }

.button-return {
  margin: 0% auto 6% auto;
  width: 10em;
  border: 1px solid rgba(255, 0, 0, 0.322);
  font-weight: 900;
  border-radius: 30px;
  padding: 1%;
  background-color: #84b9f9;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(255, 255, 255, .6),
    -2px -2px 3px rgba(0, 0, 0, .6);
}

.div-button {
  text-align: center;
}

.product {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

@media (min-width: 576px) {
  main {
    .product {
      min-height: 45vh;

      .product-detail {

        .product-name {

          margin-left: 5%;
          font-size: 1.5em;
        }

        .product-image {
          width: 8em;

          .price {
            top: 76px;
            font-size: 1.4em;
          }
        }
      }
    }
  }

}




@media (min-width: 992px) {
  main {

    .product {
      min-height: 45vh;

      .product-detail {

        .product-image {
          right: 4em;
          top: -2em;
          width: 10em;

          .price {
            top: 58%;
            right: -14%;
            font-size: 1.6em;
          }
        }
      }
    }


  }


}

@media (min-width: 1200px) {
  .product-detail {

    .product-name {
      font-size: 1.7em;
    }

    .product-image {
      right: 5em;
      top: -3em;
      width: 12em;

      .price {
        top: 52%;
        right: -24%;
      }
    }
  }

}

/* .product-element {

  border: 2px solid black;
  border-radius: 20px;
  height: 300px;
  max-width: 90%;
  margin: 2% auto;
  position: relative;
  background-color: coral;
 } */
/*
  .button-plus {
    position: absolute;
    right:125px;
    bottom: 37px;
    
  }

  .button-minus{
    position:absolute;
    left:125px;
    bottom: 37px;
  }
  .product-name {

    border: 1px solid black;
    width: 32%;
    height: 10%;
    margin-left: 33%;
    margin-top: 3.25%;
    background-color: white;
    border-radius: 10px;
    padding-top: 0.5%;
    font-weight: 900;

  }

  .quantity {


    input {
      width: 20%;
      border: 1px solid black;
      position: absolute;
      right: 178px;
      bottom: 45px;
    }
  }
  .description-product{

    width:50%;
    height:50%;   
    border-radius:25px;
    border: 2px solid black;
    background-color:white;
    margin:20px auto; 
    padding:5px;
  }

  .price {
    
    border: 2px solid black;
    border-radius: 55%;
    height: 50px;
    width: 50px;
    font-size:1.5em;
    padding-top:10px;
    position: absolute;
    left: 30px;
    z-index:1;
    background-color:white;

  }

  .button-validate{
    position:absolute;
    bottom: 15px;
    left: 195px;
    

  }

} */

/* .rounded-picture {
  position: absolute;
  border: 2px solid black;
  border-radius: 55%;
  height: 100px;
  width: 100px;
  padding-top: 10px;
  background-color: yellow;
  top: -30px;
  left: -25px;
} */
