.carousel{
 text-align:center;
background-color: rgba(255, 255, 255, 0.631);
margin:15px 0;
 .carrousel-line{
   
   .item{
     
    
    
   }
 }

     .image{
    width:150x;
    height:150px;
  
  }
}

