
.navbarX{
 width: 100vw;
 margin: 0;
 padding: 0rem;
 position: relative;

  img{
    width: 20vw;
  }

  .navlink{
    margin-right: 0.5rem;
  }

  h1{
    background-color: #f0f;
    // position: absolute;
    // top: 43%;
    // margin-right: auto;
  }

  .selected{
    color: #f0f;
  }
  
  .navbar1{
    background: linear-gradient(#3c2b9b, #f0e87e);;

    .show{
      text-align: right;
    }
    #responsive-navbar-nav{
      text-align: right;
      flex-direction: row-reverse;
    }
  }

}
