@use 'src/styles/vars';
.navbarX{
 width: 100vw;
  // height:4vh;
 margin: 0;
 padding: 0rem;
/*  position: relative; */

  img{
    width: 5vw;
    height:5vw
  }

  .navlink{
    margin-right: 0.5rem;
  }

  h1{
    background-color: #f0f;
    // position: absolute;
    // top: 43%;
    // margin-right: auto;
  }

  .selected{
    color: #f0f;
  }
  
  .navbar1{
    background:vars.$header-background;

    .show{
      text-align: right;
    }
    #responsive-navbar-nav{
      text-align: right;
      flex-direction: row-reverse;
    }
  }

}
