@use 'src/styles/vars';

.container-fluid {
  padding: 0;
}

header {
  background-color: #fedb5b;
  position: relative;
  transition: 0.2s linear;
  .active{
    // background-color: #f0f;
    // box-shadow: 1px 1px 1px 1px black;
    text-decoration: underline;
  }
  .navbar {
    position: relative;
    background-color: #e96b42;
    box-shadow: 0 1px 5px 0 #000;

    a {
      color: #fff;
    }

    a:hover {
      text-decoration: underline;

    }

    .navbar-brand {
      top: 0.5rem;

      img {
        max-height: 3rem;
      }
      &:hover{
        transform: rotate(360deg);
        transition: transform 1s;
      }
    }

    .navlink {
      margin: 1.5rem auto;
      font-size: 1.5rem;
    }

    .navlink-user,
    .navlink-cart {
      margin-right: 0.5rem;
    }
  }

  .header-title {
    // position: absolute;
    // padding-top: 1rem;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    margin-left: 0.5rem;
  }
}

@media (min-width: 768px) {
  header {
    .header-title {
      font-size: 3rem;
    }
  }
}

@media (min-width: 992px) {
  header {
    min-height: 9.5rem;

    .navbar {
      a {
        margin: 0 1rem;
      }

      .navbar-brand {
        position: absolute;

        img {
          max-width: 120px;
          max-height: none;
        }
      }

      .navlink {
        margin: 0.5rem 1rem 0.5rem auto;
      }
    }

    .header-title {
      // padding-bottom: 0;
      // top: auto;
      // bottom: 0;
      // left: 120px;
      // transform: translateX(0);
      // transform: translateY(-20%);
      font-size: 5rem;
    }
  }
}
